*{
    padding: 0%;
    margin: 0%;
}
/* Nav  bar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.div-1 h2 {
    font-size: 20px;
    font-weight: 700;
    color: #0D1B2A;
}
.div-1{
    display: flex;
}
.div-2 ul{
    display:flex;
    justify-content: space-between;
}
.nav-button{
 background-color: #1D4ED8;
 font-size: 16px;
 font-weight: 700;
}