
.inter-font {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}
button:hover {
  background-color: #2980b9;
}
/* nav-bar */
#nav  button:hover {
  background-color: #2980b9;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}
#nav li {
   list-style: none;
       margin: 0px  34px;
}
#nav ul{
    display: flex;
}
#nav button{
    width: 146px;
    height: 44px;
    background-color: #30B688;
    border-radius: 4px;
        border: none;
}
/* header-area */
#header{
background-image: url(../hero-bg.png);
height:354px;
text-align: center;
margin-top: 0%;
padding: 144px;
}
#header h3 {
    margin: 0%;
    background-color: #FFFFFF;
    height: 19px;
    color: #30B688;
    padding: 4px;
    width: 229px;
    font-size: 16px;
 margin-left: 485px;
 font-weight:  500px;
 border-radius: 16px;
}
#header h2{
    font-size: 74px;
    margin-top: 0%;
    color: #FFFFFF;
      margin-bottom: 0%;
}
#header h2 span{
    color: #30B688;
  
}
#header p{
     color:#FFFFFF;
     margin-top: 0%;
     margin-bottom: 50px;
}
#header button{
    height: 44px;
    border-radius: 4px;
    padding: 10px;
        border: none;
} 
 #header div {
     display: flex;
  flex-direction: row;
  margin-left: 465px;
 }
  
.header-button{
     background-color: #30B688;
     margin-right: 10px;
}
/* main-tag */
.main-note {
    text-align: center;
}
.main-note h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0%;
}
.main-note p{
    font-size: 16px;
    color: #627382;
}
#main .main-images{
    display: flex;
    justify-content: space-around;
  
    margin-top: 40px;
}
#main .decoration-main{
    text-align: center;
    width: 222px;
    height: 220px;
    padding: 10px;
    padding-top: 50px;
    background-color: #fbfbfb;
margin: 30px;
border-radius: 10px;
}
#main .main-images img {
    background-color: #F95555;
    width: 35px;
    height: 35px;
    padding: 7px;
    border-radius: 25px;  
}
#main .decoration-main p{
 margin-top: 0%;
}
#main .decoration-main h3{
    margin-bottom: 10px;
}
/* main-section */
#main .section{
    display: flex;
    justify-content: center;
    margin: 120px;
}
#main .section .section-contant{
margin-top: 102px;
margin-left: 0%;
}
#main .section .section-contant ul li  {
 list-style: none;
 font-size: 16px;
 font-weight: 500px;
 margin-top: 0%;
}
#main .section  ul {
 margin-right: 70px;
 text-align: left;
}
#main .section h4{
    font-size: 16px;
    font-weight: 500px;
    color: #30B688;
}
#main .section h2{
    font-size: 48px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: auto;
}
#main .section p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}
#main .section .section-img{
    margin-right: 60px;

}
/* challeng-part */
#section {
    text-align: center;
  margin: 120px;
  background-color: #F7F6F2;
  height: 300px;
  padding-top: 80px;
}
#section h2{
    font-size: 48px;
    font-weight: 800px;
    margin-top: 16px;
    margin-bottom: 0%;
}
#section p{
      font-size: 16px;
    color: #627382;
    margin-top: 16px;
    margin-top: 10px;
} 
#section .p{
    margin-top: 16px;
    font-size: 14px;
}
#section button {
    width: 146px;
    height: 44px;
    background-color: #30B688;
    border-radius: 4px;
    border: none;
   }
 #section button:hover {
  background-color: #2980b9;
}